PORT=3000
PUBLIC_URL=https://bot.useazza.example
BMONI_PROXY_URL=https://<bmoni-embedded-api-host>
BMONI_API_KEY=
BMONI_WEBHOOK_SECRET=
KAPSO_API_KEY=
KAPSO_PHONE_NUMBER_ID=
KAPSO_WEBHOOK_SECRET=
WALLET_CURRENCY=CNGN
AWS_REGION=eu-west-1
